.disPlayCategorise {
    display: none;
    position: fixed;
    top: 48%;
    left: 50%;
    width: 490px;
    height: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border: rgb(161, 38, 0) solid 5px;
    border-radius: 20px;
}

.CartCategorise h2 {
    color: antiquewhite;
    margin: 30px;


}

#nameproduct {
    margin-left: 38px;
}

#price {
    margin-left: 55px;
}

.CartCategorise input[type='text'] {
    display: flex;
    width: 65%;
    padding: 10px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: rgba(240, 234, 234, 0.951);
    margin-right: 20px;
}

.inputProductname {
    display: flex;
    margin-left: 30px;
}

.inputProductname h4 {
    color: aliceblue;
    margin-top: 22px;
}

#pic {
    margin-top: 15px;
    color: aliceblue;
}

.inputProductname {
    margin-top: 20px;
}

input[type='file'] {
    width: 60%;
    margin-left: 20px;
    /* padding: ; */
}

select {
    margin-left: 25px;
    color: rgb(102, 102, 128);
    width: 70%;
    background-color: rgba(240, 234, 234, 0.951);
    border-radius: 15px;
}

.formSubmits {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.btn1,
.btn2 {
    width: 20%;
    padding: 10px;
    background-color: rgb(227, 61, 19);
    font-weight: bold;
    color: aliceblue;
    border-radius: 10px;
    border: palevioletred solid 2px;

}

