
/* --product-content--- */
.product-content {
    background: #000;
    width: 100%;
    height: 77vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.card-product {
    padding: 5px 0px 0px 0px;
    background: rgba(27, 25, 25, 0.766);
    height: auto;
    display: grid;
    grid-template-rows: 1.5fr 0.1fr 1fr;
    gap: 5px;
    justify-items: center;
    border-radius: 5px;
}
.cardfooter {
    border-top: 1px solid rgb(255, 89, 89);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
}
.cardfooter>p {
    margin-top: 5px;
    color: white;
}
.cardfooter>.btn-add{
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    padding: 3px;
    background: rgb(230, 48, 48);
    color: white;
}
.card-product>h4 {
    margin-top: 0px;
    color: rgb(255, 255, 255);
}
.product-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}

.minus, .plus {
    border: none;
    background: rgb(244, 64, 64);
    font-size: 20px;
    color: white;
    width: 20px;
    height: 20px;
}