*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: rgb(0, 0, 0);
}
header{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr;
}

nav {
    background: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-left{
    width: 47%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10px;
}
.sidebar-right{
    width: 40%;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr 0.3fr;
    margin-right: 20px;
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7 {
    display: flex;
    background: rgb(228, 31, 70);
    height: 35px;
    color: white;
    align-items: center;
    margin-left: 5px;
    border-radius: 5px;
}
.box1, .box2, .box6{
    justify-content: space-between;
}
.box3, .box4{
    background: rgb(227, 61, 19);
}
.box7{
    background: rgb(215, 215, 215);
    color: black;
}
.box1>i:nth-child(1), .box2>i:nth-child(1), .box3>i:nth-child(1), .box4>i:nth-child(1),.box5>i:nth-child(1), .box6>i:nth-child(1), .box7>i:nth-child(1){
    width: 30px;
    height: 100%;
    background: rgb(86, 82, 82);
    margin: 0;
    border-radius: 4px 0px 0px 4px;
    
}

.box3>i:nth-child(1), .box4>i:nth-child(1){
    background: rgb(161, 38, 0);
}
.box1>i:nth-child(3), .box2>i:nth-child(3), .box6>i:nth-child(3){
    width: 30px;
    height: 100%;
    background: rgb(66, 66, 66);
    margin: 0;
    border-radius: 0;
    border-radius: 0px 4px 4px 0px;
}
.box7>i:nth-child(1), .box6>i:nth-child(3){
    background: rgb(182, 182, 182);
    color: black;
}

.bx {
    margin-left: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgba(131, 126, 126, 0.792);
}
span {
    margin: 0px 10px;
    font-size: 13px;
}
.sidebar-right>i:nth-child(5){
    background: red;
}
a {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   text-decoration: none;
}






/* ____________________Form Product_________________ */
.disPlayCategorise {
    display: none;
    position: fixed;
    top: 48%;
    left: 50%;
    width: 490px;
    height: 85%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border: rgb(161, 38, 0) solid 5px;
    border-radius: 20px;
}

/* .disPlayCategorise:hover{
   
} */
.CartCategorise h2 {
    color: antiquewhite;
    margin: 30px;
    /* margin-top: 10px; */

}

#nameproduct {
    margin-left: 38px;
}

#price {
    margin-left: 55px;
}

.CartCategorise input[type='text'] {
    display: flex;
    width: 65%;
    padding: 10px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: rgba(240, 234, 234, 0.951);
    margin-right: 20px;
}

.inputProductname {
    display: flex;
    margin-left: 30px;
}

.inputProductname h4 {
    color: aliceblue;
    margin-top: 22px;
}

#pic {
    margin-top: 15px;
    color: aliceblue;
}

.inputProductname {
    margin-top: 20px;
}

input[type='file'] {
    width: 60%;
    margin-left: 20px;
    /* padding: ; */
}

select {
    margin-left: 25px;
    color: rgb(102, 102, 128);
    width: 70%;
    background-color: rgba(240, 234, 234, 0.951);
    border-radius: 15px;
}

.fromSubnits {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.btn1,
.btn2 {
    width: 20%;
    padding: 10px;
    background-color: rgb(227, 61, 19);
    font-weight: bold;
    color: aliceblue;
    border-radius: 10px;
    border: palevioletred solid 2px;
}

/* ____________________________end_________________________________ */